@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

/****************************************************************
VARIABLES
****************************************************************/
:root {
  --light: #f5f5f5;
  --dark: #333;
}

/****************************************************************
RESET
****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: url(assets/double-bubble-outline.png), var(--light);
}

/****************************************************************
UTILS
****************************************************************/
.btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  outline: none !important;
  transition: transform 0.2s;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}

/****************************************************************
HEADER COMPONENT
****************************************************************/
.header {
  background: linear-gradient(to right, #fc3939, #ff00ff);
}

.header-logo {
  font-family: 'Sigmar One', cursive;
}

/****************************************************************
GAMEROOM COMPONENT
****************************************************************/
.gr-roomname {
  font-family: 'Bungee Shade', cursive;
}

.gr-game {
  font-family: 'Mate SC', serif;
}

.vip::before,
.vip::after {
  content: 'VIP';
  background: gold;
  color: var(--dark);
  padding: 3px 10px;
  margin: 0 10px;
  border-radius: 2rem;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.you::before,
.you::after {
  content: '★';
  color: #ef4444;
  font-size: 0.8rem;
}

.you::before {
  margin: 0 10px 0 5px;
}

.you::after {
  margin: 0 5px 0 10px;
}

/****************************************************************
ROLE CARDS STYLES
****************************************************************/
.card {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Marko One', serif;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.party.front,
.secret.front {
  align-items: flex-end;
  cursor: not-allowed;
}

.party.front::before,
.secret.front::before {
  position: absolute;
  top: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding: 1rem 0 0.5rem 0;
  color: #333;
}

/* PARTY MEMEBERSHIP CARD */
.party.back {
  background: linear-gradient(#ffff00, #ffe600);
  font-size: 25px;
}

.party.back::after {
  content: 'Party Membership';
  text-transform: uppercase;
}

.party.front::before {
  content: 'Party Membership';
}

.party.front.liberal {
  background: url(../src/assets/liberal.svg), #fbff00;
  background-size: 130px;
  color: #13e953;
}

.party.front.liberal::after {
  content: 'Liberal';
  text-transform: uppercase;
}

.party.front.fascist {
  background: url(../src/assets/fascist.svg), #fbff00;
  background-size: 160px;
  color: #ff7f00;
}

.party.front.fascist::after {
  content: 'Fascist';
  text-transform: uppercase;
}

.party.front.liberal,
.party.front.fascist {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
}

/* SECRET ROLE CARD */
.secret.back {
  background: linear-gradient(#f5f5f5, #cfcfcf);
  font-size: 40px;
}

.secret.back::after {
  content: 'Secret Role';
  text-transform: uppercase;
}

.secret.front::before {
  content: 'Secret Role';
}

.secret.front.liberal {
  background: url(../src/assets/seclib.svg), #ffe2e2;
  color: #8f8f8f;
}

.secret.front.liberal::after {
  content: 'Liberal';
  text-transform: uppercase;
}

.secret.front.fascist {
  background: url(../src/assets/secfas.svg), #ffe2e2;
  color: #8f8f8f;
}

.secret.front.fascist::after {
  content: 'Fascist';
  text-transform: uppercase;
}

.secret.front.hitler {
  background: url(../src/assets/sechitler.svg), #ffe2e2;
  color: #000;
}

.secret.front.hitler::after {
  content: 'Hitler';
  text-transform: uppercase;
}

.secret.front.liberal,
.secret.front.hitler,
.secret.front.fascist {
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
  font-size: 30px;
}

.card.front.party,
.card.front.secret {
  transform: rotateY(180deg);
}

/* YES/NO CARDS */
.yes.selected,
.no.selected {
  border: 5px solid #fdb519;
}

.yes {
  background: #ffe5ca;
}

.yes::after {
  content: 'Ja!';
}

.no {
  background: #333;
  color: #ffe5ca;
}

.no::after {
  content: 'Nein!';
}

/****************************************************************
CARDS FLIP STYLES
****************************************************************/
.card-flip-wrap {
  width: 12rem;
  height: 18rem;
  perspective: 60rem;
}

.card-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-face.party.front {
  transform: rotateY(180deg);
}

.card-face.secret.front {
  transform: rotateY(-180deg);
}

.card-flip.is-flipped {
  transform: rotateY(180deg);
}

/****************************************************************
LOADING SPINNER
****************************************************************/
.loading:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/****************************************************************
MEDIA QUERIES
****************************************************************/
@media only screen and (max-device-width: 430px) and (pointer: coarse),
  only screen and (max-width: 510px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .header-name {
    margin: 1rem 0;
  }

  .signout-btn {
    margin: 1rem 0 1rem 0;
  }

  .gr {
    height: auto;
    padding-bottom: 15rem;
  }

  .gr-join {
    width: 95%;
  }

  .cards-board {
    flex-direction: column;
  }

  .card-flip-wrap:first-child {
    margin-right: 0;
    margin-bottom: 5rem;
  }

  .card-flip-wrap {
    margin: 0;
  }

  .vote p,
  .vote-selected,
  .vote-enter-btn {
    margin: 3rem 0;
  }

  .vote-cards {
    flex-direction: column;
  }

  .vote-cards .yes {
    margin: 0 0 5rem 0;
  }
}
