@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/****************************************************************
VARIABLES
****************************************************************/
:root {
  --light: #f5f5f5;
  --dark: #333;
}

/****************************************************************
RESET
****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: url(./assets/pp-bg.png) no-repeat center center fixed;
  background-size: cover;
  background-color: #111;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.wrapper {
  height: 100%;
}

/****************************************************************
UTILS
****************************************************************/
.btn {
  outline: none;
  transition: transform 0.2s;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}

.disabled,
.disabled:active {
  transform: none;
  box-shadow: none;
  transform: translate(0, 0);
}

/****************************************************************
GAMEROOM COMPONENT
****************************************************************/
.gr-roomname {
  font-family: 'Salsa', cursive;
}

.gr-game {
  font-family: 'Mate SC', serif;
}

.vip::before,
.vip::after {
  content: 'VIP';
  background: gold;
  color: var(--dark);
  padding: 3px 10px;
  margin: 0 10px;
  border-radius: 2rem;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.you::before,
.you::after {
  content: '★';
  color: #ef4444 !important;
  font-size: 0.8rem;
}

.you::before {
  margin: 0 10px 0 5px;
}

.you::after {
  margin: 0 5px 0 10px;
}

/****************************************************************
ROLE CARDS STYLES
****************************************************************/
.card {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Marko One', serif;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: var(--dark);
}

.party.front,
.secret.front {
  align-items: flex-end;
  cursor: not-allowed;
}

.party.front::before,
.secret.front::before {
  position: absolute;
  top: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding: 1rem 0 0.5rem 0;
  color: #333;
}

/* PARTY MEMEBERSHIP CARD */
.party.back {
  background: linear-gradient(#ffff00, #ffe600);
  font-size: 20px;
}

.party.back::after {
  content: 'Party Membership';
  text-transform: uppercase;
}

.party.front::before {
  content: 'Party Membership';
  font-size: 16px;
}

.party.front.liberal {
  background: url(../src/assets/liberal.svg), #fbff00;
  background-size: 100px;
  color: #13e953;
}

.party.front.liberal::after {
  content: 'Liberal';
  text-transform: uppercase;
}

.party.front.fascist {
  background: url(../src/assets/fascist.svg), #fbff00;
  background-size: 140px;
  color: #ff7f00;
}

.party.front.fascist::after {
  content: 'Fascist';
  text-transform: uppercase;
}

.party.front.liberal,
.party.front.fascist {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 30px;
}

/* SECRET ROLE CARD */
.secret.back {
  background: linear-gradient(#f5f5f5, #cfcfcf);
  font-size: 30px;
}

.secret.back::after {
  content: 'Secret Role';
  text-transform: uppercase;
}

.secret.front::before {
  content: 'Secret Role';
}

.secret.front.liberal {
  background: url(../src/assets/seclib.svg), #ffe2e2;
  color: #8f8f8f;
}

.secret.front.liberal::after {
  content: 'Liberal';
  text-transform: uppercase;
}

.secret.front.fascist {
  background: url(../src/assets/secfas.svg), #ffe2e2;
  color: #8f8f8f;
}

.secret.front.fascist::after {
  content: 'Fascist';
  text-transform: uppercase;
}

.secret.front.hitler {
  background: url(../src/assets/sechitler.svg), #ffe2e2;
  color: #000;
}

.secret.front.hitler::after {
  content: 'Hitler';
  text-transform: uppercase;
}

.secret.front.liberal,
.secret.front.hitler,
.secret.front.fascist {
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
  font-size: 30px;
}

.card.front.party,
.card.front.secret {
  transform: rotateY(180deg);
}

/* YES/NO CARDS */
.yes.selected,
.no.selected {
  border: 5px solid #fdb519;
}

.yes {
  background: #ffe5ca;
}

.yes::after {
  content: 'Ja!';
}

.no {
  background: #333;
  color: #ffe5ca;
}

.no::after {
  content: 'Nein!';
}

/****************************************************************
CARDS FLIP STYLES
****************************************************************/
.card-flip-wrap {
  width: 10rem;
  aspect-ratio: 2/3;
  perspective: 60rem;
}

.card-flip {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 2/3;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  aspect-ratio: 2/3;
  backface-visibility: hidden;
}

.card-face.party.front {
  transform: rotateY(180deg);
}

.card-face.secret.front {
  transform: rotateY(-180deg);
}

.card-flip.is-flipped {
  transform: rotateY(180deg);
}

/****************************************************************
LOADING SPINNER
****************************************************************/
.loading:empty {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 6rem;
  height: 6rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.5rem solid #17db93;
  border-radius: 50%;
  animation: load-spinner 1s infinite linear;
}

@keyframes load-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
